body {
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  font-weight: 900;
  height: 100vh;
}

.container {
  height: 100%;
  padding: 3% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.container .content {
  font-size: clamp(24px, 8vmin, 60px);
}

.container .date {
  font-size: clamp(18px, 5vmin, 48px);
}

.container > .counter {
  font-size: clamp(32px, 14vmin, 120px);
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
